<!DOCTYPE html>
<html lang="en">
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
    <%= favicon_link_tag 'favicons.png' %>
    <title>
      <%= TITLE %>
    </title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <div class="row" style='min-height: 450px'>
        <%= render partial: 'shared/flash', flash: flash %>
        <%= yield %>
      </div>
    </div>
    <footer>
    <%= render 'layouts/footer' %>
    </footer>
  </body>
</html>
